.main-footer{
    height: 138px;
    width: 100%;
    background-color: #f3f3f3;
    box-shadow: inset 0 1px 3px 0 lightgrey;
    border-bottom: #dddddd solid 1px;
    display: flex;
    justify-content: center;
    padding-top: 35px;
    &__wrapper{
        width: 1040px;
        display: flex;
        justify-content: space-around;
    }
    &__copyright{
        &.text{

        }
    }
    &__link{
        
    }
}